<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="change-nav-color">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <!-- <a class="navbar-brand page-scroll" href="#page-top"></a> -->
        <%= link_to "Measure Twice!", welcome_index_path, id: "sign_in", class: "navbar-brand welcome_link" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">

                    <!-- <a href="#page-top"></a> -->
                </li>
                <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @user.name.split.map(&:capitalize).join(' ') %>'s Profile<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <ul class="floorplan-list">
                        <% if @user.floorplans.count > 0 %>
                            <% @user.floorplans.each do |plan| %>
                            <li><a href=<%= @user.id %>/floorplans/<%= plan.id %>><%= plan.name %></a></li>
                            <% end %>
                        <% end %>
                        </ul>
                         <li role="separator" class="divider"></li>
                         <!-- <li><a href="#">Logout</a></li> -->
                         <li class="logout"><%= link_to "Logout", signout_path %></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Services Section -->
<section id="services" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Design Your Room</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
         <!-- </div> -->
         <!-- <div class="row"> -->
            <div id="drawing" class="col-md-8 text-center">
                <div class= ""></div>
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
        </div>
        <!-- </div> -->
    </div>
    <div class="container text-center">
        <a href="/floorplans/new">
        <button type="button" class="btn btn-info btn-lg" id="floorplan_button">Save Floorplan</button></a>
    </div>

</section>

<!-- NEW CENTERED ROOM FORM -->
<form id="room_form">
    <label class="f-title"><i class="fa fa-pencil-square fa-border"></i>New Room</label><br>
    <label class="f-name">Room Name:</label><br>
    <input id="room_name" type="text" name="name"><br>
    <label>Width:</label><br>
    <input id="room_width" type="number" name="width"> in<br>
    <label>Length:</label><br>
    <input id="room_length" type="number" name="length"> in<br><br>
    <input class="btn btn-block btn-success btn-lg" type="submit">
</form>

<!-- NEW CENTERED FURNITURE FORM -->
<form id="furniture_form">
     <label class="f-title"><i class="fa fa-pencil-square fa-border"></i>Selected Furniture</label><br><br>
     <label>Name:</label><br>
     <input id="furn_name" type="text" name="name"><br>
     <label>Width:</label><br>
     <input id="furn_width" type="number" name="width"> in<br>
     <label>Length:</label><br>
     <input id="furn_length" type="number" name="length"> in<br><br>
     <input class="btn btn-block btn-success btn-lg" type="submit">
 </form>

 <form id="new_furniture_form">
      <label class="f-title"><i class="fa fa-pencil-square fa-border"></i>Create a custom item</label><br><br>
      <label>Name:</label><br>
      <input id="new_name" type="text" name="name"><br>
      <label>Picture Url:</label><br>
      <input id="new_url" type="url" name="url"><br>
      <label>Width:</label><br>
      <input id="new_width" type="number" name="width"> in<br>
      <label>Length:</label><br>
      <input id="new_length" type="number" name="length"> in<br><br>
      <input class="btn btn-block btn-success btn-lg" type="submit">
  </form>

<div class="svg-test">
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Measure Twice 2015</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


